
#project:hover #project-description {
  opacity: 80%;
  display: block;
}

#projects-scroller {
    animation: expand 500ms ease-out forwards;
    animation-delay: 70ms;
  position: relative;
}
#projects-scroller::-webkit-scrollbar {
  display: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInFromBottom {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes expand {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
