body {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f100;
}
::-webkit-scrollbar-thumb {
  background: #88888850;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.slide-left {
  opacity: 0;
  animation: slideInFromLeft 2s forwards;
  animation-delay: 2.4s;
}
.slide-right {
  opacity: 0;
  animation: slideInFromRight 2s forwards;
  animation-delay: 2.4s;
}
.slide-up {
  opacity: 0;
  animation: slideIn 2s forwards;
  animation-delay: 2.4s;
}
.moveUpDown {
  animation: moveUpDown 3.7s forwards ease-out;
}
.moveDownUp {
  animation: moveDownUp 3.7s forwards ease-out;
}

@keyframes moveUpDown{
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-100px);
  }
  100%{
    transform: translateY(0);
  }
}

@keyframes moveDownUp{
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(100px);
  }
  100%{
    transform: translateY(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideInFromRight {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

