body{
    overflow: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}
  ::-webkit-scrollbar-track {
  background: #f1f1f100; 
}
  ::-webkit-scrollbar-thumb {
  background: #88888850; 
}
::-webkit-scrollbar-thumb:hover {
  
  background: #555; 
} 

#home-hero-left {
  animation: slideInFromLeft 1s cubic-bezier(0, 0.95, 0.11, 1);
}

#home-hero-right {
  animation: slideInFromBottom 1s cubic-bezier(0, 0.95, 0.11, 1);
}

#about-me-text {
  animation: slideInFromBottom 1s cubic-bezier(0, 0.95, 0.11, 1);
}
#about-me-image {
  animation: slideInFromRight 1s cubic-bezier(0, 0.95, 0.11, 1);
}
#projects {
  animation: slideInFromLeft 1s cubic-bezier(0, 0.95, 0.11, 1);
}
#projects-contact {
  animation: slideInFromBottom 1s cubic-bezier(0, 0.95, 0.11, 1);
}
@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
